<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TCG Companion</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <li class="nav-item"><a class="nav-link" href="/Deck">Deck</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Collection">Collection</a></li>
                    <li class ="nav-item">
                        <form method="post" action="/api/users/logout">
                            <button type="submit" class="nav-link">Logout</button>
                        </form>
                    </li>
                }
                else {
                    <li class="nav-item"><a class="nav-link" href="/Login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Join">Join</a></li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="/admin" target="_blank">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>